#nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  height: 4rem;
  background: linear-gradient(to right, #424e62, #2d3142, #424e62);
  align-items: center;
  width: 100%;
}

.navbar-title {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 22pt;
  letter-spacing: 0.1rem;
  margin-left: 2rem;
  cursor: pointer;
  user-select: none;
}

.navlinks-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -1em 2em -1em auto
}

.burger-menu {
  display: none;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 auto;
  cursor: pointer;
}

.burger-menu:hover .burger-menu-line{
  background-color: #ef8354;
}

.burger-menu:hover .burger-line-rotate-top{
  background-color: #ef8354;
}

.burger-menu:hover .burger-line-rotate-bottom{
  background-color: #ef8354;
}

.burger-menu-line {
  border-radius: 1.5em;
  width: 70%;
  height: 0.2rem;
  background-color: #bfc0c0;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  transition: all ease-in-out 250ms;
}

.burger-line-rotate-top {
  border-radius: 1.5em;
  width: 70%;
  height: 0.2rem;
  background-color: #bfc0c0;
  transform: rotate(45deg) translate(0em, 0.11em);
  transition: all ease-in-out 750ms;
}

.burger-line-invisible {
  opacity: 0;
  transition: all ease-in-out 750ms;
}

.burger-line-rotate-bottom {
  border-radius: 1.5em;
  width: 70%;
  height: 0.2rem;
  background-color: #bfc0c0;
  transform: rotate(-45deg) translate(0em, -0.11em);
  transition: all ease-in-out 750ms;
}

@media only screen and (max-width: 45em) {
  .navlinks-container {
    display: none;
  }
  
  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.nav-link {
  text-decoration: none;
  color: #bfc0c0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
  height: 100%;
  position: relative;
  transition: all ease-in-out 250ms;
  margin: 1rem;
  cursor: pointer;
  user-select: none;
}

.nav-link:hover {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #ef8354;
}

.nav-link::before {
  content: '';
  display: block;
  height: 0.2em;
  background-color: #ef8354;
  position: relative;
  transform: translate(0, -1em);
  width: 0%;

  transition: all ease-in-out 250ms;
}

.nav-link:hover::before {
  width: 100%;
}

.navbar-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 18rem;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  align-items: center;
  background-color: #2d3142;
  transform: translate(0, 4em);
  transition: all ease-in 750ms;
  z-index: -1;
}

.navbar-dropdown .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #bfc0c0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
}

.navbar-dropdown-off {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 18rem;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  align-items: center;
  background-color: #2d3142;
  transform: translate(0, -22em);
  transition: all ease-out 750ms;
  z-index: -1;
}
