.about-container {
  width: 100%;
  height: 100%;
  margin-top: 13em;
}

.about-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-background h1 {
  color: #2d3142;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 42pt;
}

.flipcards-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 3rem;
}

/* 2K laptop resolution. */
@media only screen and (max-width: 90em) {
  .about-container {
    margin-top: 0;
  }

}

@media only screen and (max-width: 45em) {
  .flipcards-container {
    grid-template-columns: auto;
  }
}