.home-container {
  width: 100%;
  height: 100%;
}

.home-background {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.background-layer-1 {
  width: 33.3%;
  height: 54em;
  background-color: #2d3142;
  justify-content: center;
  z-index: -2;
}

.background-layer-2 {
  width: 0;
  height: 0;
  border-bottom: 54em solid #2d3142;
  border-right: 30em solid transparent;
  z-index: -3;
}

.background-layer-3 {
  display: flex;
  flex-direction: column;
  width: 33.4%;
  height: 54em;
  background-color: white;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.background-layer-3 img {
  margin-left: auto;
  border-radius: 50%;
  width: 40em;
  height: 40em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  user-select: none;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.home-container h1 {
  position: absolute;
  left: 2.5em;
  top: 4em;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 56pt;
  animation: fadein 4s;
  cursor: default;
  user-select: none;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ef8354; }
}

.home-container h3 {
  position: absolute;
  left: 5.1em;
  top: 14em;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: blink-caret .75s step-end infinite;
  color: white;
  font-size: 28pt;
  cursor: default;
  user-select: none;
}

@media only screen and (max-width: 120em) {
  .background-layer-3 img {
    margin-right: auto;
    width: 25em;
    height: 25em;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .home-container h1 {
    top: 7em;
    font-size: 36pt;
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ef8354; }
  }

  .home-container h3 {
    top: 20em;
    font-size: 18pt;
  }
}

/* 2K laptop resolution. */
@media only screen and (max-width: 90em) {
  .background-layer-1 {
    height: 100%;
  }

  .background-layer-2 {
    border-bottom: 40em solid #2d3142;
    border-right: 25em solid transparent;
  }

  .background-layer-3 {
    width: 33.4%;
    height: 100%;
  }

  .background-layer-3 img {
    width: 16em;
    height: 16em;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .home-container h1 {
    top: 5em;
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ef8354; }
  }

  .home-container h3 {
    top: 15em;
  }
}

@media only screen and (max-width: 75em) {
  .home-container h1 {
    left: 1.5em;
  }

  .home-container h3 {
    left: 3.15em;
  }
}

/* Change home section presentation when width of screen reaches
   the limit for the h3 text. */
@media only screen and (max-width: 67.2em) {
  .home-background {
    flex-direction: column;
  }

  .background-layer-1 {
    width: 100%;
    height: 32%;
  }

  .background-layer-2 {
    border-top: 18em solid #2d3142;
    border-right: 100vw solid transparent;
    border-bottom: none;
  }

  .background-layer-3 {
    width: 100%;
    height: 38%;
  }

  .background-layer-3 img {
    margin-bottom: auto;
    height: 14rem;
    width: 14rem;
  }

  .home-container h1 {
    top: 3em;
    left: calc(50% - 3em);
    margin: 2rem auto; /* Gives that scrolling effect as the typing happens */
    font-size: 32pt;
  }

  .home-container h3 {
    top: 11em;
    left: calc(50% - 9em);
    font-size: 16pt;
  }
}

/* Change home section title font sizes when width of screen reaches
   the limit for the h3 text. */
@media only screen and (max-width: 50.75em) {
  .background-layer-2 {
    border-top: 6em solid #2d3142;
  }

  .home-container h1 {
    top: 4em;
    font-size: 24pt;
  }

  .home-container h3 {
    top: 15em;
    font-size: 11pt;
  }
}

/* @media only screen and (max-width: 40em) {
  
} */

@media only screen and (max-height: 30em) {
  .background-layer-1 h1 {
    margin: 0 auto 1rem auto;
    font-size: 18pt;
  }

  .background-layer-1 h3 {
    font-size: 11pt;
  }

  .background-layer-3 img {
    height: 10rem;
    width: 10rem;
  }
}