.home-container {
  width: 100%;
  height: 100%;
}

.home-background {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.background-layer-1 {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  height: 100%;
  background-color: #2d3142;
  justify-content: center;
  z-index: -2;
}

.background-layer-2 {
  width: 0;
  height: 0;
  border-bottom: 95vh solid #2d3142;
  border-right: 33.3vw solid transparent;
  z-index: -3;
}

.background-layer-3 {
  display: flex;
  flex-direction: column;
  width: 33.4%;
  height: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.background-layer-1 h1 {
  position: relative;
  left: 6.5vw;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 36pt;
  animation: fadein 4s;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ef8354; }
}

.background-layer-1 h3 {
  position: relative;
  left: 6.5vw;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(80, end),
    blink-caret .75s step-end infinite;
  color: white;
  font-size: 18pt;
}