.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d3142;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}

.timeline-container h1 {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 42pt;
  margin-bottom: 1rem;
}