section.content {
  margin-top: 4em;
  width: 100%;
  overflow: hidden;
}

section.content .home {
  display: block;
  width: 100%;
  height: 95vh;
}

section.content .about {
  display: block;
  width: 100%;
}

section.content .timeline {
  display: block;
  width: 100%;
}

section.content .projects {
  display: block;
  width: 100%;
}

section.content .contact {
  display: block;
  width: 100%;
}

footer {
  width: 100%;
  height: 6em;
}