.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
}

.projects-container h1 {
  color: #2d3142;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 42pt;
  margin-bottom: 1rem;
}

.projects-container svg {
  margin-top: 5rem;
  transform: scale(2);
}

#frame {
  transform: translateY(3rem);
}

#full-cloud-outline {
  transform: scale(1);
  transform-origin: center;
  transition: all ease-in-out 500ms;
}

#left-bracket {
  stroke: #bfc0c0;
  transform: translateX(0);
  transition: all ease-in-out 500ms;
}

#right-bracket {
  stroke: #bfc0c0;
  transform: translateX(0);
  transition: all ease-in-out 500ms;
}

#slash {
  fill: #bfc0c0;
  transform: rotate(0);
  transform-origin: center;
  transition: all ease-in-out 500ms;
}

svg:hover {
  cursor: pointer;
}

svg:hover #full-cloud-outline {
  transform: scale(1.1);
  transform-origin: center;
  transition: all ease-in-out 500ms;
}

svg:hover #left-bracket {
  stroke: #ef8354;
  transform: translateX(-1rem);
  transition: all ease-in-out 500ms
}

svg:hover #right-bracket {
  stroke: #ef8354;
  transform: translateX(1rem);
  transition: all ease-in-out 500ms
}

svg:hover #slash {
  fill: #ef8354;
  transform: rotate(360deg);
  transform-origin: center;
  transition: all ease-in-out 500ms
}

@media only screen and (min-width: 160em) {
  .projects-container svg {
    margin-top: 10rem;
    transform: scale(3);
  }
}

@media only screen and (max-width: 63em) {
  .projects-container svg {
    margin-top: 1rem;
    transform: scale(1);
  }
}